@using ConectDB.Models;
@model UsuarioModel
@{
    ViewData["Title"] = "Acceder";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}
<div class="container">
    <main role="main">
        <div class="container">
            <br>
            <div class="row text-center">
                <h1>Bienvenido</h1>
            </div>
            <br />
        </div>
    </main>
</div>
